REACT_APP_DATADOG_APPLICATION_ID=
REACT_APP_DATADOG_CLIENT_TOKEN=
REACT_APP_ENV=
REACT_APP_WC_PROJECT_ID=
REACT_APP_SECURE_LOCAL_STORAGE_HASH_KEY=
#use Hostname only
REACT_APP_SECURE_LOCAL_STORAGE_DISABLED_KEYS=UserAgent|ScreenPrint|Plugins|Fonts|LocalStorage|SessionStorage|TimeZone|Language|SystemLanguage|Cookie|Canvas
REACT_APP_SECRETIV='6RxIESTJ1eJLpjpe'

#feature flags
REACT_APP_OPTIMISE=true
REACT_APP_ENABLE_SMART_SCAN=false
REACT_APP_SKIP_UPDATE_CHECK=false
REACT_APP_ENABLE_TESTNET_CURRENCIES=true
REACT_APP_ENABLE_ADDRESS_BOOK=true

#mobile app deployment
PACKAGE_NAME=
APP_NAME='AkashicLink Staging'
FLAVORS='staging'

#local urls / db index
#REACT_APP_REDIS_DB_INDEX=
#REACT_APP_PUBLIC_URL=http://localhost:3000
#REACT_APP_API_BASE_URL=http://localhost:8081/api
#REACT_APP_SCAN_BASE_URL=http://localhost:3002

#preprod urls / db index
REACT_APP_REDIS_DB_INDEX=15
REACT_APP_PUBLIC_URL=https://api.akashicscan.com
REACT_APP_API_BASE_URL=https://api.akashicscan.com/api
REACT_APP_SCAN_BASE_URL=https://testnet.akashicscan.com/en-US

REACT_APP_PROVIDER_ENV=dev
REACT_APP_PROVIDER_DEBUG=false

DATADOG_API_KEY=
REACT_APP_GA_MEASUREMENT_ID=
REACT_APP_CLARITY_PROJECT_ID=
REACT_APP_DEBUG_TRACKING=
