.account-selection {
  /* Shift popovers to have vertical padding relative to trigger element */
  top: 8px;
  //--width: 75% !important;
  --width: calc(100vw - 64px) !important;
  --offset-x: -16px;
  --offset-y: 1px;

  &::part(content) {
    border-radius: 8px;
  }

  ion-select-popover {
    border: 1px solid var(--ion-select-border) !important;
    border-radius: 8px;
    padding-right: 1px;
  }

  /*
   * Ensures that selection menu is small enough to fit
   * under the selection button
   */
  ion-list {
    max-height: 160px;
    overflow: scroll;
  }

  ion-item {
    min-height: 32px;
    height: 32px;
  }
  .option-divider-top {
    border-top: 1px solid #e8e0eb;
  }
  .option-divider-bottom {
    border-bottom: 1px solid #e8e0eb;
  }

  ion-item::part(native) {
    min-height: 32px;
    height: 32px;
  }
}

// TODO: temp bad hotfix here, should figure out an better way to handle
.public-layout ion-select.account-selections-options::part(container) {
  opacity: 1;
  width: 100vw;
}

.public-layout .account-selection {
  --width: calc(100vw - 64px) !important;
}
