@use 'typography';

ion-checkbox {
  @extend %text-shared;
  font-weight: 700;
  &::part(label) {
    @extend %heading-shared;
    font-size: 0.75rem;
    font-family: 'Nunito Sans', serif;
    margin-inline: 8px 0;
    text-align: start;
    white-space: pre-line;
  }
}
