.swiper-button-next {
  background-image: var(--swiper-button-next-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  right: -5px;
  top: 38px;
}

.swiper-button-prev {
  background-image: var(--swiper-button-prev-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  left: -5px;
  top: 38px;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}
